@font-face {
  font-family: "Ravie";
  src: url("../fonts/Ravie/Web Fonts/2aeca327ae0e8ba04bf305f13cb1d589.eot");
  src: url("../fonts/Ravie/Web Fonts/2aeca327ae0e8ba04bf305f13cb1d589.eot?#iefix")format("embedded-opentype"),
  url("../fonts/Ravie/Web Fonts/2aeca327ae0e8ba04bf305f13cb1d589.woff2")format("woff2"),
  url("../fonts/Ravie/Web Fonts/2aeca327ae0e8ba04bf305f13cb1d589.woff")format("woff"),
  url("../fonts/Ravie/Web Fonts/2aeca327ae0e8ba04bf305f13cb1d589.ttf")format("truetype"),
  url("../fonts/Ravie/Web Fonts/2aeca327ae0e8ba04bf305f13cb1d589.svg#Ravie")format("svg");
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
  margin: 0;
  border: 0;
  padding: 0;
  background-color: #000000;
  color: #FFFFFF;
}

h1,h2,h3,h4,h5,h6 {
  font-family: Ravie;
}

header {
  height: 60vh;
  overflow-y: hidden;
  background: url("../images/header.png");
  background-position: center;
  background-size: cover;
}
header .top_header {
  text-align: center;
}
header .logo {
  max-width: 200px;
  margin: 0 auto;
  background: #000000;
  border-radius: 0 0 40px 40px;
}

main {
  text-align: center;
}
main section:not(.fullwidth) {
  width: calc(100% - 40px);
  max-width: 960px;
  margin: 0 auto;
}
main section.text-left {
  text-align: left;
}

h1 {
  text-align: center;
  font-size: 16px;
}

@media (min-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }
  p {
    font-size: 1.5rem;
  }
}

/* Schriftgröße für kleinere Bildschirme */
@media (max-width: 767px) {
  h1 {
    font-size: 2rem;
  }
  p {
    font-size: 1rem;
  }
}

footer {
  background: #1c1c1c;
  text-align: center;
  padding: 12px 0;
}
footer section {
  max-width: 960px;
  margin: 0 auto;
}
footer .label_wrapper,
footer .icons_wrapper {
  display: inline-block;
  width: 49.5%;
}
footer .icons_wrapper a {
  text-decoration: none;
  padding-top: 4px;
  padding-left: 8px;
}
footer .icons_wrapper img {
  max-height: 32px;
}
footer a,
footer a:focus,
footer a:visited {
  color: #FFFFFF;
}
footer .link_seperator {
  display: inline-block;
  padding: 0 4px;
}

#presentation-img {
  width: 98%;
  border: 1px solid #FFFFFF;
  max-width: 960px;
}

/*#privacy,#credits,#impressum {
  width: 98%;
  max-width: 960px;
  text-align: left;
  margin: 0;
  border: 0;
  padding: 0;
}*/